{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <title>Pokemon | Collection</title>
  </head>
  <body>
    <!--NAVBAR-->
    <section class="navbar">
      <a href="{% url 'home' %}" class="btn"> Home </a>
      <a href="{% url 'trainer-list' %}" class="btn"> Trainer </a>
      <a href="{% url 'pokemoncard-list' %}" class="btn"> Pokemon Card </a>
      <a href="{% url 'collection-list' %}" class="btn" id="active"> Collection </a>
    </section>

    <!--COLLECTION-->
    
    <main>
        {% block content %}
        <a href="{% url 'collection-add' %}" class="btn btn-outline-primary">Add New Collection</a><br>
<!-- section here -->
    <section class="collection-container">
      <table class="styled-table">
        <tbody>
          <tr>
              <th>Trainer</th>
              <th>Card</th>
              <th>Collection Date</th>
          </tr>

          {% for collection in collection_list %}
            <tr>
                <td>{{ object.trainer }}</td>
                <td>{{ object.card }}</td>
                <td>{{ object.collection_date }}</td>
                <td>
                    <a href="collection_list/{{ object.id }}" >Edit</a>
                     <a href="collection_list/{{ object.id }}/delete" >Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

      </table>
    </section>
{% include 'pagination.html' %}
{% endblock %}

{% include 'includes/footer.html' %}
  </body>
</html>
